*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    background-color: #fff;
    color: #222;
    padding:0;
    height:100vh;
}
.theme-options{
    max-width: 800px;
    margin:0 auto;
    text-align: right;
    padding: 20px 0;
    div{
        cursor:pointer;
        width: 20px;
        height:20px;
        border-radius: 4px;
        margin: 2px 10px;
        border:1px solid black;
        display: inline-block;
        opacity: 0.5;
        &.active{
            opacity:1;
        }
    }
    #theme-white{
        background-color: #fff;
    }
    #theme-blue{
        background-color: blue;
    }
    #theme-green{
        background-color:green;
    }
    #theme-red{
        background-color:red;
    }
    #theme-orange{
        background-color:orange;
    }
    #theme-purple{
        background-color:purple;
    }
      }


.content-box{
    
    margin:0 auto;
    text-align: center;
    background-color: #eee;
    color:#222;
    padding: 20px 20px 30px 30px;
    max-width: fit-content;
    border-radius:8px;
    h5{
        line-height: 1.2;
        margin: 0%;
        font-size: large;
    }


}

.App.theme-white{
    background-color: white;
    color:black;
    .content-box{
        background-color: white;
        h5{
            color:beige;

        }
        p{
            color: antiquewhite;
        }
    }
}
.App.theme-orange{
    background-color: orange;
    color:black;
    .content-box{
        background-color: blueviolet;
        h5{ 
            color:beige;

        }
        p{
            color: antiquewhite;
        }
    }
}
.App.theme-blue{
    background-color: blue;
    color:black;
    .content-box{
        background-color: blueviolet;
        h5{
            color:beige;

        }
        p{
            color: antiquewhite;
        }
    }
}
.App.theme-red{
    background-color: red;
    color:black;
    .content-box{
        background-color: blueviolet;
        h5{
            color:beige;

        }
        p{
            color: antiquewhite;
        }
    }
}
.App.theme-purple{
    background-color: purple;
    color:black;
    .content-box{
        background-color: blueviolet;
        h5{
            color:beige;

        }
        p{
            color: antiquewhite;
        }
    }
}
.App.theme-green{
    background-color: green;
    color:black;
    .content-box{
        background-color: blueviolet;
        h5{
            color:beige;

        }
        p{
            color: antiquewhite;
        }
    }
}
